<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsu.mapper.AlarmInfoMapper">
    <update id="update" parameterType="com.tsu.entity.AlarmInfo">
        update t_alarm_info
        <trim prefix="set" suffixOverrides=",">
            <if test="flag!=null">flag=#{flag},</if>
            <if test="temMax!=null">tem_max=#{temMax},</if>
            <if test="temMin!=null">tem_min=#{temMin},</if>
            <if test="humMax!=null">hum_max=#{humMax},</if>
            <if test="humMin!=null">hum_min=#{humMin},</if>
            <if test="associatedPhone!=null">associated_phone=#{associatedPhone},</if>
            <if test="alarmType!=null">alarm_type=#{alarmType},</if>
        </trim>
        where device_key=#{deviceKey}
    </update>
</mapper>